<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projec 1 app</title>
  </head>
  <body>
    <header>
      logo
      <nav>
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/newuser"> + Add Users </a>
      </nav>
    </header>
    <h1>Welcome home</h1>
  </body>
</html>
