<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projec 1 app</title>
  </head>
  <body>
    <header>
      logo
      <nav>
        <a href="/">Home</a>
        <a href="/users">Users</a>
        <a href="/newuser"> + Add Users </a>
      </nav>
    </header>
    <h1>Welcome home</h1>
    <h2>Fullstack Applications are also refered to as CRUD applications</h2>
    <h3>C - Create/Add data to a datbase</h3>
    <h3>R - Read/select</h3>
    <h3>U - Update / Change what is in the db (query string)</h3>
    <h3>D - Delete / remove records from db</h3>

    <h2>
      Create , Read, Update and Delete data in a database hpstd in a remote
      server from the client/browser/where
    </h2>
  </body>
</html>
