<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <style>
      
    </style>
  </head>
  <body>
    <%- include("header.ejs")%>
    <h1>Users List</h1>
    <% queryResult.forEach(user=> { %>
    <a href="/users/<%=user.id%>">
      <h2><%= user.names%> <span> Age: <%=user.age%> </span></h2>
    </a>
    <% }) %>

    <a href="/newuser" class="btn"> + Add New User </a>
  </body>
</html>

<!-- use sql -- notes taking app   -->
